@CHARSET "UTF-8";

*{
margin: 0px;
padding: 0px;
}

#nav,#body,form,input,textarea,small{
line-height:1.4em;
}

h1,h2,h3{
font-size: 1.2em;
}

#header{
height:100px;
border-bottom:solid 1px #ccc;
color:black;
}

#header a{
text-decoration:none;
}

#nav{
	width:20%;
	height:950px;
	display:inline-block;
	float:left;
}

ul{
display:flex;
align-content:flex-start;
flex-direction:column;
flex-wrap:wrap;
}
	#menu, #menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#menu {
		margin: 10px;
		width:90%;
		border: 1px solid #222;
		background-color: #111;
		background-image: -moz-linear-gradient(#444, #111); 
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));	
		background-image: -webkit-linear-gradient(#444, #111);	
		background-image: -o-linear-gradient(#444, #111);
		background-image: -ms-linear-gradient(#444, #111);
		background-image: linear-gradient(#444, #111);
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		-webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		position:relative;
		display:block;
	}
	
	#menu:before,
	#menu:after {
		content: "";
		display: table;
	}
	
	#menu:after {
		clear: both;
	}
	
	#menu {
		zoom:1;
	}
	
	#menu li {
		width:90%;
		height:40px;
		float:top;
		border-bottom: 1px solid #222;
		-moz-box-shadow: 1px 0 0 #444;
		-webkit-box-shadow: 1px 0 0 #444;
		box-shadow: 1px 0 0 #444;
		position:relative;
	}
	
	#menu a {
		float: left;
		padding: 12px 30px;
		color: #999;
		text-transform: uppercase;
		font: bold 14px Arial, Helvetica;
		text-decoration: none;
		text-shadow: 0 1px 0 #000;
	}
	
	#menu li:hover > a {
		color: #fafafa;
	}
	
	*html #menu li a:hover { /* IE6 only */
		color: #fafafa;
	}
	
	#menu ul {
		margin: 0 170px 0 0;
		_margin: 0; /*IE6 only*/
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0px;
		left: 170px;
		z-index: 1;    
		background: #444;
		background: -moz-linear-gradient(#444, #111);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
		background: -webkit-linear-gradient(#444, #111);    
		background: -o-linear-gradient(#444, #111);	
		background: -ms-linear-gradient(#444, #111);	
		background: linear-gradient(#444, #111);
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);		
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;  
	}

	#menu li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}
	
	#menu ul ul {
		top: 0;
		left: 90%;
		margin: 0 0 0 20px;
		_margin: 0; /*IE6 only*/
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);		
	}
	
	#menu ul li {
		float: none;
		display: block;
		border: 0;
		_line-height: 0; /*IE6 only*/
		-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	}
	
	#menu ul li:last-child {   
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;    
	}
	
	#menu ul a {    
		padding: 10px;
		width: 85%;
		_height: 10px; /*IE6 only*/
		display: block;
		white-space: nowrap;
		float: none;
		text-transform: none;
	}
	
	#menu ul a:hover {
		background-color: #0186ba;
		background-image: -moz-linear-gradient(#04acec,  #0186ba);	
		background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
		background-image: -webkit-linear-gradient(#04acec, #0186ba);
		background-image: -o-linear-gradient(#04acec, #0186ba);
		background-image: -ms-linear-gradient(#04acec, #0186ba);
		background-image: linear-gradient(#04acec, #0186ba);
	}
	
	#menu ul li:first-child > a {
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}
	
	#menu ul li:first-child > a:after {
		/*content: '';
		position: absolute;*/
		left: -6px;
		top: 50%;
		margin-top: -6px;
		/*left: 40px;
		top: -6px;*/
		/*border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #444;*/
		border-left: 0;	
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		border-right: 6px solid #444;
	}
	
	#menu ul ul li:first-child a:after {
		left: -6px;
		top: 50%;
		margin-top: -6px;
		border-left: 0;	
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		border-right: 6px solid #3b3b3b;
	}
	
	#menu ul li:first-child a:hover:after {
		border-right-color: #04acec; 
		border-bottom-color: transparent;
	}
	
	#menu ul ul li:first-child a:hover:after {
		border-right-color: #0299d3; 
		border-bottom-color: transparent; 	
	}
	
	#menu ul li:last-child > a {
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
	}

.content{
	display:inline-block;
	vertical-align: top;
}
#body{
padding: 2px;
padding-top: 2px;
margin-right:5px;
text-align:center;
float:left;

}

#footer{
height:50px;
border-top:solid 1px;
clear:both;
background-color:#ecf7ff;
margin-top:10px;
}

#container{
width:1100px;
margin-right:auto;
margin-left:auto;
} 

.niku{
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}

h1{
background-color:rgb(60, 60, 60);
color:#f3f3f3;
font-size: 1.4em;
line-height: 30px;
margin-top:2px;
margin-bottom:2px;
}

h2{
border-bottom:solid 6px rgb(70, 70, 70);
font-size: 1.2em;
line-height: 24px;
margin-top:5px;
margin-bottom:5px;
}

h3{
border-bottom:double 7px rgb(70, 70, 70);
font-size: 1.2em;
line-height: 24px;
margin-top:5px;
margin-bottom:5px;
}

h4{
border-bottom:double 2px rgb(70, 70, 70);
font-size: 1.0em;
line-height: 20px;
margin-bottom:5px;
}

li{
list-style-position: inside;
margin:auto;
padding:auto;
}


/*테이블 */
table.tablesorter {
	background-color: #ccc;
	margin:0;
	font-size: 16px;
	width: 100%;
	text-align: left;
	font-family:'나눔 고딕','맑은 고딕','굴림','돋음', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}

table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #ddd;
	font-size: 16px;
	padding: 6px; 
	height: 16px;
	cursor: pointer;
}
table.tablesorter thead tr th{
	background-color:#e6EEEE;
	border-bottom: 1px solid #ddd; 
	font-size: 16px;
	padding: 6px; 
	height: 16px;
	cursor: pointer; 
	text-align: center; 
}
table.tablesorter tbody tr th {
	background-color:#e6EEEE;
	border-bottom: 1px solid #ddd; 
	font-size: 16px;
	padding: 6px; 
	height: 16px;
	cursor: pointer; 
	text-align: center; 
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 6px;
	background-color: #FFF;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
}
table.tablesorter tbody tr.odd td {
	background-color:#EFF8FB; cursor: pointer;
}
table.tablesorter tbody tr.even td {
	background-color:#CEECF5; cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter tbody tr.even td{background:#F0F0F6;}
table.tablesorter tbody tr.odd td{background:#f8fbfc;}

table.tablesorter tbody th.over,table.tablesorter tbody  tr.even th.over, table.tablesorter tbody tr.odd th.over{background:#b8f7f8;}
table.tablesorter tbody th.down, table.tablesorter tbody tr.even th.down, table.tablesorter tbody tr.odd th.down{background:#bce774;}
table.tablesorter tbody th.selected, table.tablesorter tbody tr.even th.selected, table.tablesorter tbody tr.odd th.selected{}

table.tablesorter tbody td.over, table.tablesorter tbody tr.even td.over, table.tablesorter tbody tr.odd td.over{background:#ecfbd4;}
table.tablesorter tbody td.down, table.tablesorter tbody tr.even td.down, table.tablesorter tbody tr.odd td.down{background:#bce774;color:#000;}
table.tablesorter tbody td.selected, table.tablesorter tbody tr.even td.selected, table.tablesorter tbody tr.odd td.selected{background:#bce774;color:#555; }

/* use this if you want to apply different styleing to empty table cells*/
table.tablesorter tbody td.empty, table.tablesorter tbody tr.odd td.empty, table.tablesorter tbody tr.even td.empty{background:#fff;}

/* 무기 배율표 */
table td.fixed_width{
	width: 12%;
}
table .weapons_thumb{
	width: 60px;
	height: 60px;
}
table .weapons_sharpness{
	width:125px;
	height:28px;
}
table .insect_mark{
	width:20px;
	height:20px;
}
table .bowgun_img{
	width:30px;
	height:30px;
}
table .bowgun_distance{
	width:30px;
	height:30px;
}


/* 무기정보 */
#weapon_div{
	width:750px; 
	height:400px; 
	margin-left:10px;
}

#weapons_video{
	width:750px;
	height:395px;
}

