@CHARSET "UTF-8";

*{
margin: 0px;
padding: 0px;
}

#nav,#body,form,input,textarea,small{
line-height:1.4em;
}

h1,h2,h3,h4{
font-size: 1.2em;
}

#header{
height:100px;
border-bottom:solid 1px #ccc;
color:black;
}

#header a{
text-decoration:none;
}

.menubar{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.menubar ul{
background: #ecf7ff;
height:50px;
list-style-type:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: #ecf7ff;
color:#000000;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover{
background: #82bce6;
color:#000000;
text-decoration:none;
}

.menubar ul li:hover a{
background: #82bce6;
color:#000000;
text-decoration:none;
}

.menubar li ul{
background: #ecf7ff;
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
color:#000000;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: #ecf7ff;
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
color:#000000;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
color:#000000;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: #82bce6;
border:0px;
color:#000000;
text-decoration:none;
}

.menubar p{
clear:left;
}

#body{
padding: 2px;
padding-top: 2px;
margin-right:5px;
text-align:center;

}

#footer{
height:50px;
border-top:solid 1px;
clear:both;
background-color:#ecf7ff;
margin-top:10px;
}

#container{
width:1000px;
margin-right:auto;
margin-left:auto;
} 

.niku{
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}

h1{
background-color:rgb(60, 60, 60);
color:#f3f3f3;
font-size: 1.4em;
line-height: 30px;
margin-top:2px;
margin-bottom:2px;
}

h2{
border-bottom:solid 6px rgb(70, 70, 70);
font-size: 1.2em;
line-height: 24px;
margin-top:5px;
margin-bottom:5px;
}

h3{
border-bottom:double 7px rgb(70, 70, 70);
font-size: 1.2em;
line-height: 24px;
margin-top:5px;
margin-bottom:5px;
}

/*table{
border-collapse: collapse;
border: 1px solid #000000;
}

tr{
padding: 1px;
border: 1px solid #000000;
}

td{
padding: 2px;
font-size: 18px;
border: 1px solid #000000;
}

th{
padding: 2px;
border: 1px solid #000000;
background-color:#0e1f5e;
color:white;
}

table a{
text-decoration: none;
line-height:1.0em;
}*/

li{
list-style-position: inside;
margin:auto;
padding:auto;
}


/*테이블 */
table.tablesorter {
	background-color: #ccc;
	margin:0;
	font-size: 16px;
	width: 100%;
	text-align: left;
	font-family:'나눔 고딕','맑은 고딕','굴림','돋음', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}

table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #ddd;
	font-size: 16px;
	padding: 6px; 
	height: 16px;
	cursor: pointer;
}
table.tablesorter thead tr th{
	background-color:#e6EEEE;
	border-bottom: 1px solid #ddd; 
	font-size: 16px;
	padding: 6px; 
	height: 16px;
	cursor: pointer; 
	text-align: center; 
}
table.tablesorter tbody tr th {
	background-color:#e6EEEE;
	border-bottom: 1px solid #ddd; 
	font-size: 16px;
	padding: 6px; 
	height: 16px;
	cursor: pointer; 
	text-align: center; 
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 6px;
	background-color: #FFF;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
}
table.tablesorter tbody tr.odd td{
	background-color:#CEF6E3; cursor: pointer;
}
table.tablesorter tbody tr.even td{
	background-color:#CEF6E3; cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter tbody tr.even td{background:#F0F0F6;}
table.tablesorter tbody tr.odd td{background:#f8fbfc;}

table.tablesorter tbody th.over,table.tablesorter tbody  tr.even th.over, table.tablesorter tbody tr.odd th.over{background:#b8f7f8;}
table.tablesorter tbody th.down, table.tablesorter tbody tr.even th.down, table.tablesorter tbody tr.odd th.down{background:#bce774;}
table.tablesorter tbody th.selected, table.tablesorter tbody tr.even th.selected, table.tablesorter tbody tr.odd th.selected{}

table.tablesorter tbody td.over, table.tablesorter tbody tr.even td.over, table.tablesorter tbody tr.odd td.over{background:#ecfbd4;}
table.tablesorter tbody td.down, table.tablesorter tbody tr.even td.down, table.tablesorter tbody tr.odd td.down{background:#bce774;color:#000;}
table.tablesorter tbody td.selected, table.tablesorter tbody tr.even td.selected, table.tablesorter tbody tr.odd td.selected{background:#bce774;color:#555; }

/* use this if you want to apply different styleing to empty table cells*/
table.tablesorter tbody td.empty, table.tablesorter tbody tr.odd td.empty, table.tablesorter tbody tr.even td.empty{background:#fff;}


@media screen and (max-width: 750px){
*{
line-height:26px !important;
}

#header{
height:50px !important;
}


.youto_table1{
width:100% !important;
}

.youto_table2{
width:100% !important;
}

.youto_table3{
width:100% !important;
}

#sozai_t1{
float:none;
}
#sozai_t2{
float:none;
}
#sozai_t3{
float:none;
}

img{
max-width: 100% !important;
height: auto !important;
}


.sp_table_scroll {
width:100%;
overflow: auto;
}
.niku{
text-align: center;
/*width:100%;*/
}
.sp_table_scroll::-webkit-scrollbar{
height: 5px;
}
.sp_table_scroll::-webkit-scrollbar-track{
background: #F1F1F1;
}
.sp_table_scroll::-webkit-scrollbar-thumb {
background: #d6d6d6;
}
.sp_table_scroll td, .sp_table_scroll th{
white-space: nowrap;
}


	}