*{
margin: 0px;
padding: 0px;
}

#nav,#body,table,form,input,textarea,small{
line-height:1.4em;
}

h1,h2,h3,h4{
font-size: 1.2em;
}

body{

}

#header{
height:65px;
border-bottom:solid 1px #ccc;
background-color:rgb(50, 50, 50);
color:white;
}

#header a{
text-decoration:none;
}

#nav{
float:left;
width:200px;
border-right:solid 1px;
background-color:rgb(225, 225, 225);
}
/*
#nav2{
float:right;
width:200px;
background-color:rgb(225, 225, 225);
border-left:solid 1px;
}
*/
#body{
margin-left: 200px;
border-left: solid 1px;
padding: 2px;
padding-top: 2px;
margin-right:5px;

}

#footer{
border-top:solid 1px;
clear:both;
background-color:rgb(205, 205, 205);
}

#container{
/*min-width:1000px;*/
/*margin-left:auto;
margin-right:auto;*/
}

.AA{
font-family:"ＭＳ Ｐゴシック","MS PGothic","Mona","mona-gothic-jisx0208.1990-0",sans-serif;
font-size: 16px !important;
line-height: 18px !important;
}

/*hタグ*/
h1{
background-color:rgb(60, 60, 60);
color:#f3f3f3;
font-size: 1.4em;
line-height: 30px;
margin-top:2px;
margin-bottom:2px;
}

h2{
border-bottom:solid 6px rgb(70, 70, 70);
font-size: 1.2em;
line-height: 24px;
margin-top:5px;
margin-bottom:5px;
}

h3{
border-bottom:double 7px rgb(70, 70, 70);
font-size: 1.2em;
line-height: 24px;
margin-top:5px;
margin-bottom:5px;
}

.nav_div{
background-color:rgb(60, 60, 60);
color:#f3f3f3;
}


/*テーブルとリストタグ*/
table{
border-collapse: collapse;
border: 1px solid #000000;
}

tr{
padding: 1px;
border: 1px solid #000000;
}

td{
padding: 2px;
font-size: 18px;
border: 1px solid #000000;
}

th{
padding: 2px;
border: 1px solid #000000;
background-color:rgb(80,80,80);
color:white;
}

table a{
text-decoration: none;
line-height:1.0em;
}

.index_li_h2{
list-style-type:none;
}

.index_li_h3{
list-style-type:none;
}

.index_li_h4{
list-style-type:none;
}

li{
list-style-position: inside;
margin:auto;
padding:auto;
}


.sbox{
padding: 2px;
text-align:center;
background-color:rgb(210, 210, 210);
width:100px;
}

.sbox2{
padding: 2px;
width:600px;
}

.sbox3{
width:845px;
}

.sbox4{
background-color:rgb(210, 210, 210);
/*background-color:rgb(210, 237, 255);*/
}



/*武器関連　斬れ味とか*/

.hasei{
font-size:12px;
}

.buki{/*武器一覧のテーブル*/

}

.buki td{
line-height:1.2em;
vertical-align: top;
}

.seisan{
background-color:rgb(150,200,150);
}

.hidari{
color:rgb(204,0,0);
}

.migi{
color:rgb(51,51,255);
}

.gage{

}

.gage ul{
font-size: 0;
}

.gage li{
display: inline-block;
height:10px;
}

.gage_table{
background-color:slategray;
}

.gage_table ul{
line-height:0;
}

.r{
background-color:red;
}
.o{
background-color:orange;
}
.y{
background-color:yellow;
}
.g{
background-color:lime;
}
.b{
background-color:blue;
}
.w{
background-color:white;
}
.p{
background-color:violet;
}
.s{
background-color:aqua;
}

/*素材使用用途のテーブル*/
.youto_table1{
font-size:85%;
width:410px;
}

.youto_table2{
font-size:85%;
width:310px;
}

.youto_table3{
font-size:85%;
width:140px;
}


#sozai_t1{
float:left;
}
#sozai_t2{
float:left;
}
#sozai_t3{
float:left;
}


.youto{
vertical-align: top;
}

/*目次*/

#index{
border:solid 1px gray;
background-color:rgb(230, 230, 230);
}

.index_li_h2{

}

.index_li_h3{
padding-left:20px;
}

.index_li_h4{
padding-left:40px;
}

/*head部分*/
#header_sozai_form{
position: absolute;
top:2px;
left: 250px;
}

/*武器のナビ部分*/
.scr {
   overflow: scroll;   /* スクロール表示 */ 
   width: 200px;
height:500px;
white-space: nowrap;
/*
position:fixed;
top:100px;
left:0px;
*/
 }


/*広告部分*/
/*
#top{
position: absolute;
top:0px;
}
*/
#ad1{
position: absolute;
top:2px;
left: 550px;
}

#ad2{
float:left;
}

#ad2-2{
float:left;
margin-left:10px;
}

#ad3{
padding-top:2px;
text-align:center;
}

#adbox{
padding-top:20px;
overflow: hidden;
}

#spad1{
padding-top:10px;
}

#spad2{
padding-top:10px;
padding-bottom:10px;
}

/*Newマーク*/
.new_mark{
font-size:90%;
color:red;
padding-left:3px;
}

/*updateマーク*/
.update_mark{
font-size:90%;
color:green;
padding-left:3px;
}

textarea{
max-width:100%;
}

	@media screen and (max-width: 750px){
*{
line-height:26px !important;
}

.gage_table ul{
line-height:0 !important;
}

pre{
overflow: auto;
white-space: pre-wrap;
word-wrap: break-word;
}

.sp_table_scroll {
overflow: auto;
}
.sp_table_scroll table{
/*width:100%;*/
}
.sp_table_scroll::-webkit-scrollbar{
height: 5px; /* スクロールバーの高さ */
}
.sp_table_scroll::-webkit-scrollbar-track{
background: #F1F1F1; /* スクロールバーの背景色 */
}
.sp_table_scroll::-webkit-scrollbar-thumb {
background: #d6d6d6; /* スクロールバーの色 */
}
.sp_table_scroll td, .sp_table_scroll th{
/*white-space: nowrap;*/　/* 文字の折返しを禁止 */
}

	}