@CHARSET "UTF-8";

   /* スマホ用 */

@media screen and (max-width: 600px){
	*{
		line-height:26px !important;
	}

	img{
		max-width: 100% !important;
		height: auto !important;
	}

	.sp_table_scroll {
		width:100%;
		overflow: auto;
	}
	.niku{
		text-align: center;
	/*width:100%;*/
	}
	.sp_table_scroll::-webkit-scrollbar{
		height: 5px;
	}
	.sp_table_scroll::-webkit-scrollbar-track{
		background: #F1F1F1;
	}
	.sp_table_scroll::-webkit-scrollbar-thumb {
		background: #d6d6d6;
	}
	.sp_table_scroll td, .sp_table_scroll th{
		white-space: nowrap;
	}

	#container{
		max-width:550px;
		clear:both;
		margin-left:0px !important;
	}

	#nav {
		position: absolute;
		left: 0px !important;
	}

	#body{
		clear:both;
		margin-left: 0px !important;
	}
	.menubar{
		width:180px;
		height:950px;
		display:none;
	}
	.content{
		display:inline-block;
		vertical-align: top;
	}
	#header{
		height:100px !important;
	}

	#footer{
		height:50px !important;
	}

	/* 무기 배율표 */
	table td.fixed_width{
		width: 11% !important;
		font-size:12px;
	}
	table .weapons_thumb{
		width:30px !important;
		height:30px !important;
	}
	table .bowgun_img{
		width:25px !important;
		height:25px !important;
	}
	table .bowgun_distance{
		width:25px !important;
		height:25px !important;
	}

	/* 무기정보 */
	#weapon_div{
		width:300px; 
		height:190px; 
		margin-left:5px;
	}

	#weapons_video{
		width:300px !important;
		height:180px !important;
	}

}